.playlistForm {
    padding: var(--indent__base);
}

.label {
    display: inline-block;
    margin-bottom: var(--indent__s);
    width: 100%;
}

.label span {
    display: block;
    margin-bottom: 4px;
}