.artistSearch {
    align-items: flex-end;
    display: flex;
    max-width: 100%;
    padding: var(--indent__base);
}

.label {
    flex-grow: 1;
}

.label input {
    max-width: 100%;
}

.label span {
    display: block;
    margin-bottom: 4px;
}

.button {
    height: 44px;
    line-height: 44px;
    padding: 0 var(--indent__base);
}

@media screen and (min-width: 768px) {
    .artistSearch {
        padding: var(--indent__base) 0;
        max-width: 700px;
    }
}
