.headerWrap {
    align-items: center;
    border-bottom: 1px solid var(--c__grey);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--layout__max-width);
    padding: var(--indent__s) var(--indent__base);
}

.intro {
    background: black;
    display: block;
    color: var(--c__yellow);
    text-align: center;
}

.playlistLink {
    color: var(--c__text);
}