.playlistItem {
    align-items: center;
    background: var(--c__yellow);
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--indent__s);
    max-width: 380px;
}

.name {
    align-items: center;
    display: flex;
    padding: var(--indent__s) var(--indent__base);
    position: relative;
}

.name:before {
    background: var(--c__text);
    content: '';
    height: 24px;
    left: var(--indent__base);
    margin-right: var(--indent__s);
    top: 0;
    width: 24px;
}

.name:after {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid var(--c__yellow);
    content: '';
    position: absolute;
    left: var(--indent__l);
}

.button {
    border-left: 1px solid;
}