.artistItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artistItem {
    align-items: center;
    background: var(--c__yellow);
    font-size: var(--font-size__l);
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    padding: var(--indent__base);
    text-align: center;
    text-transform: uppercase;
    width: 49%;
    word-break: break-all;
}

@media screen and (min-width: 768px) {
    .artistItem {
        font-size: 3.6rem;
        margin-bottom: 1%;
        width: 24.25%;
    }
}